.vscode
AuthenticationAndAuthorizationWithAspDotNetCore/.vs/
AuthenticationAndAuthorizationWithAspDotNetCore/CookieBasedAuthentication/bin/
AuthenticationAndAuthorizationWithAspDotNetCore/CookieBasedAuthentication/obj/
AuthenticationAndAuthorizationWithAspDotNetCore/IdentityBasedAuthentication/bin/
AuthenticationAndAuthorizationWithAspDotNetCore/IdentityBasedAuthentication/obj/
AuthenticationAndAuthorizationWithAspDotNetCore/RoleAndPolicyAuthorization/bin/
AuthenticationAndAuthorizationWithAspDotNetCore/RoleAndPolicyAuthorization/obj/
AuthenticationAndAuthorizationWithAspDotNetCore/AAWithOAuth/bin/
AuthenticationAndAuthorizationWithAspDotNetCore/AAWithOAuth/obj/
